$widthSite: 1140px;
$widthTablet: 736px;
$widthPhone: 360px;
$blackColorBack: #222222;
$textStyle: "Lato", sans-serif;
$textColor: #F16D7F;
$justPosition: center;
$columnRow: row;
$specificsColor: #6F6E6E;
$widthBurgerMenu: 232px;