.product-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.product {
    flex: 0 0 calc(33.33% - 20px);
}
.product img {
    max-width: 100%;
    height: auto;
}

.menu {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

a {
    text-decoration: none;
}

.title1 {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.paragraph {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}

.title2 {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.text {
    color: darkgreen;
}




