* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}

.center {
    padding-left: calc(50% - 576px);
    padding-right: calc(50% - 576px);
}

.top {
    padding: 10px;
    padding-bottom: 99px;
    background: #08101e;
}

.header {
    padding-top: 39px;
    padding-bottom: 39px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.header_link {
    color: aliceblue;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

.top_content {
    margin-top: 160px;
    margin-bottom: 196px;
    display: flex;
    gap: 128px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 104px;
}

.top_info {
    max-width: 604px;
}

.subtitle {
    color: #3A68B8;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.title {
    margin-top: 10px;
    margin-bottom: 40px;
    color: #FFFFFF;
    font-size: 55px;
    font-weight: 800;
    line-height: 130%;
}

.text {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    max-width: 558px;
}

.top_buttons {
    display: flex;
    margin-top: 50px;
    gap: 30px;
}

.button {
    display: inline-flex;
    padding: 15px 30px;
    gap: 10px;
    border-radius: 5px;
    background: #3A68B8;
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    align-items: center;
}

.top_logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.item {
    background: #132035;
    border-radius: 10px;
    padding: 30px;
    display: grid;
    justify-items: center;
    gap: 30px;
}

.item_big {
    grid-area: span 2 / span 2;
    display: grid;
    justify-items: center;
    gap: 60px;
}

.heading {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    opacity: 0.7;
}

.item_text {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
}

.content {
    background: #08101e;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 362px);
    justify-content: center;
    padding-top: 264px;
    padding-bottom: 243px;
}

.solutions {
    background: #08101e;
    display: flex;
    justify-content: space-between;
    gap: auto;
    flex-wrap: wrap;
    padding-bottom: 243px;
}

.sol_text {
    max-width: 548px;
}

.sol_image {
    max-width: 573px;
}

.sol_title {
    max-width: 548px;
    color: var(--ffffff, #FFF);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 40px;
}

.text_about_solution {
    color: var(--ffffff, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    margin-bottom: 20px;
    max-width: 460px;
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }

    .top {
        padding-bottom: 120px;
    }

    .subtitle {
        font-size: 16px;
    }

    .title {
        font-size: 48px;
    }

    .top_logos {
        gap: 32px;
        max-width: 650px;
        margin: auto;
    }

    .content {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(1, 362px);
    }

    .item_big {
        grid-area: span 1/span 1;
        gap: 30px;
    }

    .item_big img {
        max-width: 98px;
    }

    .solutions {
        padding-bottom: 120px;
        gap: 64px;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .center {
        padding-left: calc(50% - 172px);
        padding-right: calc(50% - 172px);
    }

    .header {
        gap: 16px;
    }

    .header_link {
        font-size: 14px;
    }

    .top_info {
        text-align: center;
    }

    .subtitle {

        font-size: 14px;
    }

    .title {
        margin-top: 16px;
        margin-bottom: 64px;
        font-size: 28px;
        max-width: 343px;
        line-height: 36px;
    }

    .text {
        font-size: 18px;
    }

    .image1 {
        height: 344px;
    }

    .top_buttons {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 39px;
        gap: 24px;
    }

    .top_content {
        margin-top: 64px;
    }

    .top_logos {
        margin: 128px auto 0;
        flex-direction: column;
    }

    .loogo1 {
        align-self: flex-start;
    }

    .content {
        grid-template-columns: repeat(1, 362px);
    }

    .item_big {
        grid-column: 1;
        grid-row: 2;
        gap: 30px;
    }

    .item_big img {
        max-width: 98px;
    }

    .solutions {
        padding-bottom: 96px;
        gap: 32px;
        display: flex;
        justify-content: center;
    }
    .sol_title {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .text_about_solution {
        font-size: 16px;
        margin-bottom: 16px;
    }
    .sol_image{
        max-width: 342px;
    }
}