.header {
  background: #222222;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  position: relative;
}
.header__group1 {
  display: flex;
  gap: 41px;
  align-items: center;
}
.header__group2 {
  display: flex;
  align-items: center;
  gap: 41px;
}
.header__icons1 {
  cursor: pointer;
}
.header #burger {
  position: absolute;
  left: -99999999px;
  visibility: hidden;
}
.header #burger:checked ~ .dropMenu {
  right: -232px;
}
.header .dropMenu {
  position: absolute;
  background-color: #FFFFFF;
  width: 232px;
  box-sizing: border-box;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding: 32px 32px;
  top: 75px;
  right: 0;
  transition: right 0.5s;
}
.header .menu {
  color: #222;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 4px;
}
.header .main_text_menu {
  color: #F16D7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header .menu_links {
  text-decoration: none;
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 10px;
}
.header .menu_block {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-top: 20px;
  margin-bottom: 12px;
}

@media (max-width: 1024px) {
  .header__group1 {
    margin: 0px 16px;
  }
  .header__group2 {
    margin: 0px 16px;
  }
}
@media (max-width: 767px) {
  .header__group1 {
    margin: 6px;
  }
  .header__group2 {
    margin: 6px;
    gap: 0px;
  }
  .header_icons3 {
    display: none;
  }
  .header_icons2 {
    display: none;
  }
}
.sectionMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 148px;
  background-color: #F8F3F4;
}
.sectionMenu .pageName {
  font-size: 24px;
  font-weight: 500;
  color: #F16D7F;
}
.sectionMenu .pageLinks {
  font-size: 14px;
  font-weight: 100;
  color: #6F6E6E;
}
.sectionMenu .pageLinks:not(:last-child)::after {
  content: " /";
}
.sectionMenu .activeLink {
  color: #F16D7F;
}

@media (max-width: 767px) {
  .sectionMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
.subscribe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 448px;
  background-image: url(img/backPhoto.png);
  background-size: cover;
}

.rewie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 30px;
  max-width: 360px;
}
.rewie .text_rewie {
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.rewie .face {
  max-width: 96px;
}

.for_subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 32px;
}
.for_subscribe .text_subscribe {
  color: #222224;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.for_subscribe .style_text {
  font-size: 24px;
  font-weight: 700;
}
.for_subscribe .form_sub {
  display: flex;
  flex-wrap: nowrap;
}
.for_subscribe .inputs {
  background-color: #E1E1E1;
  border: none;
  border-radius: 25px 0 0 25px;
  width: 260px;
  height: 49px;
  padding-left: 22px;
  box-sizing: border-box;
}
.for_subscribe .buttons {
  background-color: #F16D7F;
  color: white;
  border: none;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  max-width: 100px;
  min-width: 95px;
  height: 49px;
}

@media (max-width: 1024px) {
  .subscribe {
    display: flex;
    flex-direction: column;
    gap: 48px;
    background-size: cover;
    background-position: -380px 0;
    height: 614px;
  }
  .rewie {
    margin-top: 64px;
  }
  .for_subscribe {
    gap: 27px;
  }
  .for_subscribe .form_sub {
    margin-bottom: 140px;
  }
}
@media (max-width: 767px) {
  .subscribe {
    display: flex;
    flex-direction: column;
    gap: 48px;
    background-size: cover;
    background-position: -380px 0;
    height: 550px;
    box-sizing: border-box;
    padding: 16px;
  }
  .subscribe .rewie .text_rewie {
    font-size: 18px;
  }
  .subscribe .for_subscribe .style_text {
    font-size: 24px;
  }
  .subscribe .for_subscribe .text_subscribe {
    font-size: 14px;
  }
  .subscribe .for_subscribe .form_sub {
    margin-bottom: 110px;
  }
  .subscribe .for_subscribe .form_sub .inputs {
    width: 245px;
  }
}
.media {
  height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222224;
}

.social_media {
  display: flex;
  gap: 7px;
}

.social_icon:hover .white {
  cursor: pointer;
  fill: #F16D7F;
}

.social_icon:hover .black {
  cursor: pointer;
  fill: #FBFBFB;
}

.text_brand {
  font-size: 16px;
  color: #FBFBFB;
}

@media (max-width: 767px) {
  .media {
    height: 143px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: 40px;
  }
  .text_brand {
    margin-bottom: 9px;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  text-decoration: none;
}

.box-content {
  overflow: hidden;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.sectionCart {
  box-sizing: border-box;
  padding-top: 96px;
  height: 998px;
  display: flex;
  gap: 128px;
}
.sectionCart__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.sectionCart__selectProduct {
  display: flex;
  gap: 40px;
  width: 652px;
  height: 306px;
  box-shadow: 10px 15px 15px rgba(80, 76, 76, 0.2);
  position: relative;
}
.sectionCart__escape {
  position: absolute;
  top: 28px;
  right: 22px;
  cursor: pointer;
  width: 18px;
  height: 18px;
}
.sectionCart__infoProduct {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  gap: 42px;
}
.sectionCart__titleSelect {
  width: 262px;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sectionCart__secondInfoProduct {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  gap: 6px;
}
.sectionCart__selectPrice {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #6F6E6E;
  font-size: 22px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}
.sectionCart__spansPrice {
  color: #F16D7F;
}
.sectionCart__quantity {
  width: 44px;
  height: 24px;
  box-sizing: border-box;
  padding: 0 6px;
  border: 2px solid #EAEAEA;
  color: #F16D7F;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}
.sectionCart__bottoms {
  margin-top: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.sectionCart__selectButtom {
  border: 2px solid #A4A4A4;
  border-radius: 2px;
  background: none;
  width: 235px;
  height: 50px;
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  color: #c9c6c6;
}
.sectionCart__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 57px;
}
.sectionCart__blockInputsAdress {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  box-sizing: border-box;
  padding: 17px 0;
}
.sectionCart__forms {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
.sectionCart__titleAdress {
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  color: #222222;
}
.sectionCart__enterInfo {
  border: 2px solid #A4A4A4;
  border-radius: 2px;
  width: 360px;
  height: 45px;
  box-sizing: border-box;
  padding: 13px 18px 13px 18px;
}
.sectionCart__getQuate {
  border: 2px solid #A4A4A4;
  border-radius: 2px;
  background: none;
  width: 102px;
  height: 35px;
  cursor: pointer;
  font-size: 11px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  color: #A4A4A4;
}
.sectionCart__blockTotal {
  background-color: #F5F3F3;
  width: 360px;
  height: 214px;
  box-sizing: border-box;
  padding: 37px 42px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.sectionCart__sub {
  color: #4A4A4A;
  font-size: 11px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}
.sectionCart__grand {
  color: #4A4A4A;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}
.sectionCart .horizontal-line {
  width: 275px;
  height: 1px;
  background-color: #E2E2E2;
}
.sectionCart__spansSub {
  margin-left: 15px;
}
.sectionCart__spansGrand {
  color: #F16D7F;
  font-weight: 600;
  margin-left: 15px;
}
.sectionCart__chechout {
  width: 273px;
  height: 50px;
  background-color: #F16D7F;
  border: #F16D7F;
  color: #FFFFFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .sectionCart {
    height: 1287px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
    padding: 0;
  }
  .sectionCart__selectProduct {
    width: 734px;
  }
  .sectionCart__bottoms {
    margin-top: 62px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .sectionCart__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 180px);
    padding-right: calc(50% - 180px);
  }
  .sectionCart {
    height: 1188px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 0;
  }
  .sectionCart__selectProduct {
    width: 358px;
    height: 188px;
    gap: 17px;
  }
  .sectionCart__selectProductsImage {
    width: 144px;
    height: 188px;
  }
  .sectionCart__infoProduct {
    gap: 25px;
    margin-top: 13px;
  }
  .sectionCart__titleSelect {
    width: 143px;
    font-size: 16px;
    line-height: 16px;
  }
  .sectionCart__selectPrice {
    font-size: 16px;
    line-height: 16px;
  }
  .sectionCart__secondInfoProduct {
    gap: 4px;
  }
  .sectionCart__spans {
    font-size: 16px;
    line-height: 16px;
  }
  .sectionCart__quantity {
    width: 24px;
    height: 15px;
    padding: 0 5px;
  }
  .sectionCart__bottoms {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .sectionCart__selectButtom {
    width: 175px;
    height: 33px;
    font-size: 12px;
  }
  .sectionCart__escape {
    width: 12px;
    height: 12px;
    top: 12px;
    right: 17px;
  }
  .sectionCart__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
  }
}/*# sourceMappingURL=cartStyle.css.map */