@import 'mixins';
@import 'var';


* {
    margin: 0;
    padding: 0;
    font-family: $textStyle;
    font-style: normal;
    text-decoration: none;
}

.center {
    padding-left: calc(50% - $widthSite/2);
    padding-right: calc(50% - $widthSite/2);
}

.header {
    background: $blackColorBack;
    @include displayFlexSpace(row, space-between);
    height: 75px;

    &__group1 {
        display: flex;
        gap: 41px;
        align-items: center;
    }

    &__group2 {
        display: flex;
        align-items: center;
        gap: 41px;
        position: relative;
    }

    &__icons1 {
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;

        .drop_menu {
            display: none;
            position: absolute;
            background-color: #FFFFFF;
            min-width: 158px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            padding: 32px 32px;
        }

        .menu {
            color: #222;
            font-size: 14px;
            font-style: normal;
            font-weight: 850;
            line-height: normal;
            padding-bottom: 4px;
        }

        .main_text_menu {
            color: #F16D7F;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        .menu_links {
            text-decoration: none;
            color: #6F6E6E;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-left: 10px;
        }

        .menu_block {
            display: flex;
            flex-direction: column;
            gap: 11px;
            margin-top: 20px;
            margin-bottom: 12px;
        }

        .dropdown:hover .drop_menu {
            display: block;
        }


    }


    .basket::before {
        position: absolute;
        background-color: #F16D7F;
        color: white;
        content: "5";
        top: -8px;
        right: -10px;
        border-radius: 50%;
        width: 19px;
        height: 19px;
        display: flex;
        font-size: 12px;
        align-items: center;
        justify-content: center
    }
}

.sectionMenu {
    @include displayFlexSpace(row, space-between);
    height: 148px;
    background-color: #F8F3F4;

    .pageName {
        font-size: 24px;
        font-weight: 500;
        color: $textColor;
    }

    .pageLinks {
        font-size: 14px;
        font-weight: 100;
        color: $specificsColor;
    }

    .activeLink {
        color: $textColor;
    }
}

.slider {
    background-color: #F7F7F7;
    height: 777px;
    position: relative;
    z-index: 0;

    .slides {
        overflow: hidden;
        white-space: nowrap;

    }

    .slides__image {
        display: inline-block;
        width: 100%;
        padding: 0 35%;
    }

    .prev,
    .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #f1f1f1;
        color: #000;
        border: none;
        cursor: pointer;
        padding: 10px;
        z-index: 1;
    }

    .prev {
        left: 0;
    }

    .next {
        right: 0;
    }
}

.aboutProduct {
    margin-left: calc(50% - $widthSite/2);
    margin-right: calc(50% - $widthSite/2);
    width: 1140px;
    height: 600px;
    background-color: #FFFFFF;
    z-index: 1;
    position: absolute;
    top: 712px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;

    &__flex {
        @include displayFlexSpace (column, center);

        .aboutProduct__title {
            @include displayFlexSpace (column, center);
            gap: 13px;

            .title__collection {
                font-size: 14px;
                font-weight: 200;
                color: $textColor;
            }

            .name__product {
                font-size: 18px;
                font-weight: 200;
                color: $specificsColor;
            }
        }

        .text__product {
            display: flex;
            text-align: center;
            width: 560px;
            font-size: 14px;
            font-weight: 100;
            color: $specificsColor;
            margin-top: 48px;
            margin-bottom: 32px;
        }

        .price__product {
            font-size: 24px;
            font-weight: 100;
            color: $textColor;
            margin-bottom: 64px;
        }

        .choose__block {
            margin-top: 64px;
            display: flex;
            gap: 22px;

            select {
                border: none;
                color: $specificsColor;
                cursor: pointer;
            }
        }

        .addToCart {
            margin-top: 48px;
            @include displayFlexSpace (row, center);
            gap: 24px;
            width: 212px;
            height: 48px;
            border: 1.5px solid $textColor ;
            background-color: transparent;
            color: $textColor;
            cursor: pointer;
        }
    }
}

.otherProduct {
    margin-top: 664px;

    &__block {
        @include displayFlexSpace(row, center);
        gap: 30px;

        .products {
            @include displayFlexSpace(column, center);
            gap: 30px;
            background-color: #F8F8F8;

            &__blockInfo {
                display: flex;
                flex-direction: column;
                gap: 16px;
                margin: 0 8%;

                .titleProducts {
                    font-size: 14px;
                    font-weight: 400;
                    color: #000;
                }

                .textProducts {
                    font-size: 14px;
                    font-weight: 100;
                    color: $specificsColor;
                }

                .priceProduct {
                    font-size: 14px;
                    font-weight: 300;
                    color: $textColor;
                    margin-bottom: 8%;
                }
            }
        }
    }
}

.subscribe {
    @include displayFlexSpace(row, space-between);
    height: 448px;
    background-image: url(img/backPhoto.png);
    background-size: cover;
    margin-top: 128px;
}

.rewie {
    @include displayFlexSpace(column, center);
    flex-wrap: nowrap;
    gap: 30px;
    max-width: 360px;

    .text_rewie {
        font-size: 20px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }

    .face {
        max-width: 96px;
    }
}

.for_subscribe {
    @include displayFlexSpace(column, space-between);
    flex-wrap: nowrap;
    gap: 32px;

    .text_subscribe {
        color: #222224;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }

    .style_text {
        font-size: 24px;
        font-weight: 700;
    }

    .form_sub {
        display: flex;
        flex-wrap: nowrap;
    }

    .inputs {
        background-color: #E1E1E1;
        border: none;
        border-radius: 25px 0 0 25px;
        max-width: 256px;
        min-width: 245px;
        height: 49px;
        padding-left: 22px;
    }


    .buttons {
        background-color: #F16D7F;
        color: white;
        border: none;
        border-radius: 0 25px 25px 0;
        cursor: pointer;
        max-width: 100px;
        min-width: 95px;
        height: 49px;
    }
}

.media {
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222224;
}

.social_media {
    display: flex;
    gap: 7px;
}

.social_icon:hover .white {
    cursor: pointer;
    fill: $textColor;
}

.social_icon:hover .black {
    cursor: pointer;
    fill: #FBFBFB;
}

.text_brand {
    font-size: 16px;
    color: #FBFBFB;
}