* {
    margin: 0;
    padding: 0;
}
.box_audio {
    background-color: #eee;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxvideo {
    height: 100vh;
    position: relative;
}
.heading {
    position: absolute;
    top: 45%;
    z-index: 1;
    width: 100%;
    text-align: center;
}
.video {
    height: 100vh;
    width: 100vw;
}