.header {
  background: #222222;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  position: relative;
}
.header__group1 {
  display: flex;
  gap: 41px;
  align-items: center;
}
.header__group2 {
  display: flex;
  align-items: center;
  gap: 41px;
}
.header__icons1 {
  cursor: pointer;
}
.header #burger {
  position: absolute;
  left: -99999999px;
  visibility: hidden;
}
.header #burger:checked ~ .dropMenu {
  right: -232px;
}
.header .dropMenu {
  position: absolute;
  background-color: #FFFFFF;
  width: 232px;
  box-sizing: border-box;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding: 32px 32px;
  top: 75px;
  right: 0;
  transition: right 0.5s;
}
.header .menu {
  color: #222;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 4px;
}
.header .main_text_menu {
  color: #F16D7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header .menu_links {
  text-decoration: none;
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 10px;
}
.header .menu_block {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-top: 20px;
  margin-bottom: 12px;
}

@media (max-width: 1024px) {
  .header__group1 {
    margin: 0px 16px;
  }
  .header__group2 {
    margin: 0px 16px;
  }
}
@media (max-width: 767px) {
  .header__group1 {
    margin: 6px;
  }
  .header__group2 {
    margin: 6px;
    gap: 0px;
  }
  .header_icons3 {
    display: none;
  }
  .header_icons2 {
    display: none;
  }
}
.sectionMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 148px;
  background-color: #F8F3F4;
}
.sectionMenu .pageName {
  font-size: 24px;
  font-weight: 500;
  color: #F16D7F;
}
.sectionMenu .pageLinks {
  font-size: 14px;
  font-weight: 100;
  color: #6F6E6E;
}
.sectionMenu .pageLinks:not(:last-child)::after {
  content: " /";
}
.sectionMenu .activeLink {
  color: #F16D7F;
}

@media (max-width: 767px) {
  .sectionMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
.subscribe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 448px;
  background-image: url(img/backPhoto.png);
  background-size: cover;
}

.rewie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 30px;
  max-width: 360px;
}
.rewie .text_rewie {
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.rewie .face {
  max-width: 96px;
}

.for_subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 32px;
}
.for_subscribe .text_subscribe {
  color: #222224;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.for_subscribe .style_text {
  font-size: 24px;
  font-weight: 700;
}
.for_subscribe .form_sub {
  display: flex;
  flex-wrap: nowrap;
}
.for_subscribe .inputs {
  background-color: #E1E1E1;
  border: none;
  border-radius: 25px 0 0 25px;
  width: 260px;
  height: 49px;
  padding-left: 22px;
  box-sizing: border-box;
}
.for_subscribe .buttons {
  background-color: #F16D7F;
  color: white;
  border: none;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  max-width: 100px;
  min-width: 95px;
  height: 49px;
}

@media (max-width: 1024px) {
  .subscribe {
    display: flex;
    flex-direction: column;
    gap: 48px;
    background-size: cover;
    background-position: -380px 0;
    height: 614px;
  }
  .rewie {
    margin-top: 64px;
  }
  .for_subscribe {
    gap: 27px;
  }
  .for_subscribe .form_sub {
    margin-bottom: 140px;
  }
}
@media (max-width: 767px) {
  .subscribe {
    display: flex;
    flex-direction: column;
    gap: 48px;
    background-size: cover;
    background-position: -380px 0;
    height: 550px;
    box-sizing: border-box;
    padding: 16px;
  }
  .subscribe .rewie .text_rewie {
    font-size: 18px;
  }
  .subscribe .for_subscribe .style_text {
    font-size: 24px;
  }
  .subscribe .for_subscribe .text_subscribe {
    font-size: 14px;
  }
  .subscribe .for_subscribe .form_sub {
    margin-bottom: 110px;
  }
  .subscribe .for_subscribe .form_sub .inputs {
    width: 245px;
  }
}
.media {
  height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222224;
}

.social_media {
  display: flex;
  gap: 7px;
}

.social_icon:hover .white {
  cursor: pointer;
  fill: #F16D7F;
}

.social_icon:hover .black {
  cursor: pointer;
  fill: #FBFBFB;
}

.text_brand {
  font-size: 16px;
  color: #FBFBFB;
}

@media (max-width: 767px) {
  .media {
    height: 143px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: 40px;
  }
  .text_brand {
    margin-bottom: 9px;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.box-content {
  overflow: hidden;
}

.slider {
  background-color: #F7F7F7;
  height: 777px;
  position: relative;
  z-index: 0;
}
.slider .slides {
  overflow: hidden;
  white-space: nowrap;
}
.slider .slides__image {
  display: inline-block;
  width: 100%;
  padding: 0 27%;
}
.slider .prev,
.slider .next {
  width: 47px;
  height: 47px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f1f1f1;
  color: #000;
  border: none;
  cursor: pointer;
  padding: 5px;
  z-index: 1;
  font-size: 24px;
}
.slider .prev:hover,
.slider .next:hover {
  color: #F16D7F;
  border: 1px solid #F16D7F;
}
.slider .prev {
  left: 0;
}
.slider .next {
  right: 0;
}

.aboutProduct .content-aboutProduct {
  width: 1140px;
  height: 600px;
  background-color: #FFFFFF;
  z-index: 1;
  position: absolute;
  top: 935px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}
.aboutProduct__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 13px;
}
.aboutProduct__title .title__collection {
  font-size: 14px;
  font-weight: 200;
  color: #F16D7F;
}
.aboutProduct__title .name__product {
  font-size: 18px;
  font-weight: 200;
  color: #6F6E6E;
}
.aboutProduct__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutProduct__flex .text__product {
  display: flex;
  text-align: center;
  width: 560px;
  font-size: 14px;
  font-weight: 100;
  color: #6F6E6E;
  margin-top: 48px;
  margin-bottom: 32px;
}
.aboutProduct__flex .price__product {
  font-size: 24px;
  font-weight: 100;
  color: #F16D7F;
  margin-bottom: 64px;
}
.aboutProduct__flex .horizontal-line {
  width: 642px;
  height: 1px;
  background-color: #F16D7F;
}
.aboutProduct__flex .choose__block {
  margin-top: 64px;
  display: flex;
  gap: 22px;
}
.aboutProduct__flex .choose__block select {
  border: none;
  color: #6F6E6E;
  cursor: pointer;
}
.aboutProduct__flex .addToCart {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 212px;
  height: 48px;
  border: 1.5px solid #F16D7F;
  background-color: transparent;
  color: #F16D7F;
  cursor: pointer;
  transition: 0.6s;
}
.aboutProduct__flex .addToCart:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
  transform: scale(110%);
  transition: 0.6s;
}
.aboutProduct__flex .addToCart:hover path {
  fill: #FFFFFF;
  transition: 0.6s;
}

.otherProduct {
  margin-top: 664px;
  margin-bottom: 128px;
}
.otherProduct__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.otherProduct__block .products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: #F8F8F8;
  position: relative;
}
.otherProduct__block .products .add_to_cart_overlay {
  cursor: pointer;
  position: absolute;
  top: -85px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(img/Hover.svg) no-repeat center center;
  background-size: contain;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.otherProduct__block .products__blockInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 8%;
}
.otherProduct__block .products__blockInfo .titleProducts {
  font-size: 14px;
  font-weight: 400;
  color: #000;
}
.otherProduct__block .products__blockInfo .textProducts {
  font-size: 14px;
  font-weight: 100;
  color: #6F6E6E;
}
.otherProduct__block .products__blockInfo .priceProduct {
  font-size: 14px;
  font-weight: 300;
  color: #F16D7F;
  margin-bottom: 8%;
}
.otherProduct__block .products:hover .add_to_cart_overlay {
  opacity: 1;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .slider {
    height: 624px;
  }
  .slider .slides__image {
    padding: 30px 150px;
  }
  .slider .slides__image .picture {
    height: 565px;
  }
  .aboutProduct {
    padding: 0;
  }
  .aboutProduct .content-aboutProduct {
    width: 100%;
    height: 600px;
    top: 847px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  }
  .otherProduct {
    margin-top: 730px;
  }
  .otherProduct__block {
    flex-wrap: wrap;
    gap: 16px;
  }
  .otherProduct__block .products {
    width: 360px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 180px);
    padding-right: calc(50% - 180px);
  }
  .slider {
    height: 624px;
  }
  .slider .slides__image {
    padding: 85px 0;
  }
  .slider .slides__image .picture {
    height: 454px;
  }
  .aboutProduct {
    padding: 0;
    width: 375px;
    top: 624px;
  }
  .aboutProduct__title {
    gap: 12px;
  }
  .aboutProduct__flex .text__product {
    margin-top: 27px;
    margin-bottom: 32px;
    width: 326px;
  }
  .aboutProduct__flex .price__product {
    margin-bottom: 31px;
  }
  .aboutProduct__flex .horizontal-line {
    width: 175px;
  }
  .aboutProduct__flex .choose__block {
    margin-top: 49px;
  }
  .aboutProduct__flex .choose__block select {
    font-size: 10px;
  }
  .aboutProduct__flex .addToCart {
    margin-top: 64px;
  }
  .otherProduct {
    margin-top: 759px;
  }
  .otherProduct__block {
    flex-wrap: wrap;
    gap: 16px;
  }
  .otherProduct__block .products {
    width: 360px;
  }
}/*# sourceMappingURL=styleProduct.css.map */